version: "3.9"

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
      - MONGODB_URI=${MONGODB_URI}
      - API_BASE_URL=http://api:4000
    depends_on:
      - api
    expose:
      - "3000"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - CRON_TIME=${CRON_TIME}
      - TIMEZONE=${TIMEZONE}
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
    expose:
      - "4000"

  nginx:
    build:
      context: ./nginx
    env_file:
      - ./.env
    environment:
      - DOMAIN=${DOMAIN}
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - api
      - certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot-web:/var/www/certbot

  certbot:
    image: certbot/certbot:latest
    env_file:
      - ./.env
    environment:
      - DOMAIN=${DOMAIN}
      - ACME_EMAIL=${ACME_EMAIL}
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot-web:/var/www/certbot
    entrypoint: sh -c "trap exit TERM; while :; do certbot certonly --webroot -w /var/www/certbot -d \"$DOMAIN\" --email \"$ACME_EMAIL\" --agree-tos --non-interactive --keep-until-expiring; sleep 12h; done"

volumes:
  letsencrypt:
  certbot-web:
